.description {
  background-color: var(--main-bg-color);
}

.description__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 84%;
  margin: auto;

  @media (max-width: $tablet-width) {
    max-width: 92%;
  }
}

.description__list {
  display: flex;
  @media (max-width: $tablet-width) {
    flex-wrap: wrap;
  }
}

.description__item {
  max-width: 25%;

  @media (max-width: $tablet-width) {
    max-width: 50%;
    padding-bottom: 100px;
  }
}
.description__title {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
}

.description__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--special_dark-grey);
  margin-left: 0;
  max-width: 65%;

  @media (max-width: $tablet-width) {
    padding-top: 20px;
  }
}
