.products {
  background-color: var(--main-bg-color);
}

.products__list {
  background-color: var(--basic-gray-bg-color);
  margin: 0 27px;
  max-width: 34.5%;
  padding: 40px;

  @media (max-width: $tablet-width) {
    max-width: 100%;
    margin: 27px 27px 0;
  }
}

.products__wrapper {
  display: flex;
  justify-content: center;
  margin: 80px 0;

  @media (max-width: $tablet-width) {
    margin: 20px 0;
    flex-wrap: wrap;
  }
}

.products__header {
  display: flex;
}

.products__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.products__item {
  text-decoration: none;
  color: var(--primary-text-color);
}

.products__description {
  color: var(--special_dark-grey);
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
