:root {
  --main-bg-color: #FFFFFF;
  --basic-gray-bg-color: #F2F2F2;
  --primary-text-color: #000000;
  --secondary-text-color: #FFFFFF;
  --basic-green-color: #68B738;
  --special_dark-grey: #444444;
  --special_dark-grey-2: #222222;
}
